<%- include('header',{titulo:"Editar Evento"})%>


<div class="container">
    <h1> Detalle evento <%= evento.nombreEvento %> </h1>
    <div class="row" >
        <div class="col-sm-3">
            <strong>Fecha: </strong><%= evento.fechaEvento %>
        </div>
        <div class="col-sm-3">
            <strong>Latitud: </strong><%= evento.latitud %>
        </div>
        <div class="col-sm-3">
            <strong>Longitud: </strong><%= evento.longitud %>
        </div>
        <div class="col-sm-3">
            <form action="/evento/editar/agregar-ingrediente/<%= evento.id %>" method="get">

                <button class="btn btn-outline-secondary btn-block espaciado-boton"
                        type="submit">
                    Agregar Ingredientes
                </button>
            </form>
        </div>
    </div>
    <h2>Ingredientes</h2>

    <table class="table table-hover animated slideInLeft">
        <thead>
        <tr>
            <!-- th -> table header -->
            <th width="20%">Nombre Ingrediente</th>
            <th width="10%">Cantidad</th>
            <th width="15%">Descrpcion de Preparacion</th>
            <th width="10%">Opcional</th>
            <th width="10%">Tipo</th>
            <th width="10%">Necesita Refrigeracion</th>
            <th width="10%">Acciones</th>


        </tr>
        </thead>
        <tbody>
        <% evento.ingredientes.forEach( (ingrediente)=> { %>
            <tr>
                <!-- td -> table detail -->
                <td><%= ingrediente.nombreIngrediente %></td>
                <td><%= ingrediente.cantidad %></td>
                <td><%= ingrediente.descripcionPreparacion %></td>
                <td><%= ingrediente.opcional %></td>
                <td><%= ingrediente.tipoIngrediente %></td>
                <td><%= ingrediente.necesitaRefrigeracion %></td>
                <td>
                    <form action="/evento/eliminar/<%= ingrediente.id %>" method="POST">

                        <button class="btn btn-outline-danger btn-block espaciado-boton"
                                type="submit">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>




</div>
